{% extends "_layouts/default.njk" %} {% block body %}
<div class="content">
  <strong>Olá, {{ user.name }}</strong>
  <p>Acompanhe seus agendamentos de hoje abaixo:</p>

  <ul class="providers">
    {% for appointment in appointments %}
    <li class="provider">
      <div>
        <strong
          >{{ appointment.user.name }} <br />
          {{ appointment.date | date('HH:mm')}}</strong
        >
      </div>
    </li>
    {% endfor %}
  </ul>

  <a href="/app/logout" class="logout">Sair</a>
</div>
{% endblock %}
